# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Virtual environment
venv/
.venv/
env/

# Project specific
ay.png
take_screenshot.py
